Checks: '-*,clang-analyzer-*,cppcoreguidelines-*,bugprone-*,modernize-*,performance-*,-modernize-use-trailing-return-type,-bugprone-narrowing-conversions,-cppcoreguidelines-narrowing-conversions,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-avoid-magic-numbers,-bugprone-easily-swappable-parameters,-modernize-use-nodiscard'


